@font-face {
    font-family: 'PlusJakartaSans';
    src: url('fonts/PlusJakartaSans-VariableFont_wght.ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: PlusJakartaSans, sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40rem;
    height: 32.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

section.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
}

section.lowerHalf {

    overflow: auto;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
}

#boxAndNumber {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.markRead {
    display: flex;
    align-items: center;
    color: rgb(13, 52, 118);
    font-size: 14px;
    cursor: pointer;
}

.notificationsNumber {
    margin-left: 0;
    background-color: rgb(13, 52, 118);
    width: 30px;
    text-align: center;
    color: white;
    font-weight: bolder;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

#Notifications {
    margin-right: 20px;
    font-size: 20px;
}

div.NotificationUnit {
    background-color: rgb(13, 52, 118, 0.04);
    width: 100%;
    height: 65px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    border-radius: 13px;
}

div.NotificationUnit.inactive {
    background-color: white;
}

div.NotificationUnit>div.leftSide>img {
    border-radius: 30rem;

}

div.leftSide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 0.5rem;
}

div.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.rightSideImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 0.5rem;
    margin-left: auto;
}

div.NotificationUnit>div.rightSideImage>img {
    border-radius: 6px;
}

h2.notificationMessage {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: normal;
    word-spacing: 1px;
}

p.notificationTime {
    font-size: 10px;
    opacity: 40%;
}

span.name-text {
    font-weight: bolder;
}

span.activity {
    font-weight: bolder;
    color: #4d4d4d;
}

.notificationTextMessageLeft {
    display: flex;
    -ms-flex-direction: row;
    align-items: center;
}

.DM-notification {
    display: flex;
    flex-direction: column;
}

.DM-content {
    margin-left: 64px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 12px;
    padding: 0.8rem;
    word-spacing: 1px;
    margin-bottom: 1rem;

}

div.DM-notification>div.NotificationUnit {
    margin-bottom: 0;
}

span.activity:hover,
span.activity:focus,
span.name-text:hover,
span.name-text:focus {
    cursor: pointer;
    color: rgb(23, 74, 157);

}

div.DM-content:hover,
div.DM-content:focus {
    cursor: pointer;
    background-color: rgba(135, 206, 250, 0.2);
    border: 1px solid rgba(0, 0, 0, 0);
}

div.rightSideImage>img:hover,
div.rightSideImage>img:focus,
div.leftSide>img:hover,
div.leftSide>img:focus {
    cursor: pointer;

}

div.NotificationUnit:not(.inactive) h2.notificationMessage::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: red;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .hide-dot::after {
    display: none;
  }


@media (max-width: 600px) {
    .container {
        width: 100vw;
        height: 100vh;
        overflow: auto;
        border-radius: 0;
    }

    section.lowerHalf {
        overflow: visible;
        height: 100vh;
    }

    body {
        background-color: white;
    }


}